.calc-display {
    height: 150px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 80px;
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}